@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <CustomErrorBoundary @ref="errorBoundary">
        <ChildContent>
            <Router AppAssembly="@typeof(Program).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <LayoutView Layout="@typeof(LoginLayout)">
                                <Login />
                            </LayoutView>
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Found>
                <NotFound>
                    <AuthorizeView>
                        <Authorized>
                            <LayoutView Layout="@typeof(MainLayout)">
                                <NotFound />
                            </LayoutView>
                        </Authorized>
                        <NotAuthorized>
                            <LayoutView Layout="@typeof(LoginLayout)">
                                <Login />
                            </LayoutView>
                        </NotAuthorized>
                    </AuthorizeView>
                </NotFound>
            </Router>
        </ChildContent>
        <ErrorContent>
            <p class="m-4 text-red-600">Произошла непредвиденная ошибка.</p>
        </ErrorContent>
    </CustomErrorBoundary>
</CascadingAuthenticationState>

<ErrorDialog />

@code {
    CustomErrorBoundary? errorBoundary;
}
